

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #E6E6E6;
	font-family: 'DidotItalic';
}

body{
	overflow-y: scroll;
	overflow-x: hidden;
}

* {
  /*-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

*,
*:focus,
*:active,
*:hover{
	outline: 0 !important;
}



/*/ CLASSI GENERALI /*/
.clear{
	clear: both;
}
.width-100{
	width: 100%;
}
.height-100{
	height: 100%;
}
.relative{
	position: relative;
}
.no-pointer-events{
	pointer-events: none;
}




/*/ GRID OVERLAY /*/
.grid-overlay{
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
}
.grid-overlay .grid-line{
	float: left;
	height: 100%;
	border-left: 1px solid #BFBFBF;
}
.grid-overlay .grid-line:nth-child(odd){
	-webkit-transform: translate3d(0, -100%, 0);
	-moz-transform: translate3d(0, -100%, 0);
	-ms-transform: translate3d(0, -100%, 0);
	-o-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
.grid-overlay .grid-line:nth-child(even){
	-webkit-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	-ms-transform: translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.up-grid{
	z-index: 1;
	position: relative;
}



/*/ GENERAL CLOSER /*/
.cerchio-closer{
	width: 3.3vw;
	height: 3.3vw;
	cursor: pointer;
	position: relative;
	border-radius: 50%;
	background: #FFFFFF;
}
.cerchio-closer .cerchio-closer-container{
	width: 100%;
	height: 100%;
	position: relative;
	
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.cerchio-closer .cross-line{
	top: 50%;
	left: 50%;
	width: 50%;
	height: 2px;
	/*margin-top: -1px;*/
	position: absolute;
	background-color: #AAB8BC;
}
.cerchio-closer .cross-line-top{
	-webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
	-moz-transform: translate3d(-50%, -50%, 0) rotate(45deg);
	-ms-transform: translate3d(-50%, -50%, 0) rotate(45deg);
	-o-transform: translate3d(-50%, -50%, 0) rotate(45deg);
	transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
.cerchio-closer .cross-line-bottom{
	-webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
	-moz-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
	-ms-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
	-o-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
	transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

/*/ hover solo su desktop /*/
body.desktop .cerchio-closer .cerchio-closer-container:hover{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}







/*/ GENERAL ARROW /*/
.cerchio-arrow{
	width: 6.3vh;
	height: 6.3vh;
	cursor: pointer;
	position: relative;
	border-radius: 50%;
	background: #818181;
}
.cerchio-arrow .arrow-line{
	top: 52%;
	width: 30%;
	height: 2px;
	margin-top: -1px;
	position: absolute;
	background-color: #FFFFFF;
}
.cerchio-arrow .arrow-line-left{
	left: 25%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cerchio-arrow .arrow-line-right{
	right: 25%;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.cerchio-arrow:after {
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    opacity: 0;
    z-index: -1;
    content: ' ';
    display: block;
    border-radius: 50%;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    
    -webkit-transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
   	-moz-transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
    -ms-transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
    transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.cerchio-arrow:hover:after{
    opacity: 1;
	width: 100%;
	height: 100%;
}







/*/ FOOTER /*/
#plot-box{
	top. 0;
	left: 0;
	width: 100%;
	height: 500px;
	position: fixed;
}
#plot-box canvas{
	width: 100%;
	height: 100%;
}
footer,
footer *{
	-webkit-user-select: auto;   /* Chrome/Safari/Opera */
  	-khtml-user-select: auto;    /* Konqueror */
  	-moz-user-select: auto;      /* Firefox */
  	-ms-user-select: auto;       /* IE/Edge */
  	user-select: auto; 
}
footer .top-footer{
	position: relative;
	height: 30vw;
}
footer #fluid-footer-canvas{
	width: 100%;
	height: 30vw;
	display: block;
	background: #FFF;
	position: absolute:
	top: 0;
	left: 0;
}
footer #fluid-footer-static{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url('../imgs/general/fluid-footer.png');
}
.novel-garden footer #fluid-footer-canvas{
	display: none;
}
.novel-garden footer #fluid-footer-static{
	display: block;
}
footer .main-footer{
	background: #D4DCDD;
	padding: 50px 0 0 0;
}
footer h2{
	color: #3E3E3E;
	font-size: 5vw;
	line-height: 6vw;
	text-align: right;
	margin-bottom: 0.7vw;
}
footer h3{
	color: #666666;
	font-size: 1.33vw;
	text-align: right;
}
footer form{
	margin-top: 1vw;
}
footer form input{
	width: 100%;
	border: none;
	padding: .8vw;
	font-weight: 300;
	font-size: 1.22vw;
	border-radius: 8px;
	margin-bottom: 1.22vw;
	font-family: 'Roboto', sans-serif;  
	
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}
footer form input.error{
	-webkit-box-shadow: inset 0px 0px 0px 5px #CC0000;
	-moz-box-shadow: inset 0px 0px 0px 5px #CC0000;
	-ms-box-shadow: inset 0px 0px 0px 5px #CC0000;
	-o-box-shadow: inset 0px 0px 0px 5px #CC0000;
	box-shadow: inset 0px 0px 0px 5px #CC0000;
}
footer form input[type='submit']{
	color: #D4DCDD;
	text-align: left;
	font-weight: 400;
	background: #93a0a3;
}
footer .form-loader{
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-pointer-events: none;
	pointer-events: none;
}
footer .form-loader img{
	top: 35%;
	left: 50%;
	width: 4vw;
	height: auto;
	position: absolute;
	
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
footer .form-thank{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-pointer-events: none;
	pointer-events: none;
}
footer .form-thank .open-catalogue-page{
	top: 50%;
	left: 50%;
	opacity: 0;
	width: 8vw;
	height: 8vw;
	cursor: pointer;
	position: absolute;
	background: #93A0A3;
	
	-webkit-border-radius: 50%;
	border-radius: 50%;

	-webkit-transform: translate(-50%, -65%);
	-moz-transform: translate(-50%, -65%);
	-ms-transform: translate(-50%, -65%);
	-o-transform: translate(-50%, -65%);
	transform: translate(-50%, -65%);
}
footer .form-thank .open-catalogue-page .open-catalogue-page-text{
	top: 50%;
	opacity: 0;
	width: 100%;
	color: #FFFFFF;
	font-size: 1.5vw;
	position: absolute;
	text-align: center;
	
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
footer .form-thank .text-container{
	left: 0;
	top: 35%;
	width: 100%;
	position: absolute;
	text-align: center;
	
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
footer .form-thank .textillate-animation{
	opacity: 0;
	color: #666666;
	font-size: 1.3vw;
}

footer .monkey{
	width: 100%;
	
	-webkit-transform: translate3d(0, 25%, 0);
	-moz-transform: translate3d(0, 25%, 0);
	-ms-transform: translate3d(0, 25%, 0);
	-o-transform: translate3d(0, 25%, 0);
	transform: translate3d(0, 25%, 0);
}
footer .sub-footer{
	z-index: -1;
	position: relative;
	background: #FFFFFF;
	padding: 16vw 5.5vw 5.5vw 5.5vw;
}
footer .sub-footer .logo-silik-footer{
	margin-right: 3vw;
}
footer .sub-footer .logo-silik-footer,
footer .sub-footer .logo-creazioni-footer{
	height: 5vw;
}
body.mobile footer .sub-footer .logo-silik-footer,
body.mobile footer .sub-footer .logo-creazioni-footer{
	height: 6.5vw;
}
footer .sub-footer .dati{
	right: 5.5vw;
	bottom: 5.5vw;
	color: #616161;
	text-align: right;
	position: absolute;
	font-weight: 200;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Roboto', sans-serif;  
}
footer .sub-footer .dati a{
	color: #616161;
	text-decoration: none;
}




/*/ FINESTRA MODALE /*/
.catalogue-modal{
	height: 0;
	bottom: 0;
	width: 100%;
	z-index: 99999;
	position: fixed;
	overflow: hidden;
	background: rgba(0, 0, 0 , 0.8);
}
.catalogue-modal .catalogue-modal-box{
	top: 50%;
	left: 50%;
	width: 50vw;
	color: #616161;
	position: absolute;
	
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.catalogue-modal .catalogue-modal-box .modal-oridami{
	width: 100%;
	height: 100%;
	padding: 2.7vw;
	position: relative;
	background: #D4DCDD;
	border: 1.2vw solid #93A0A3;
}
.catalogue-modal .catalogue-modal-box .modal-oridami .cerchio-closer{
	top: 2.7vw;
	right: 2.7vw;
	width: 2.22vw;
	height: 2.22vw;
	position: absolute;
	background: #616161;
}
.catalogue-modal .catalogue-modal-box .modal-oridami .cerchio-closer .cross-line{
	background: #FFFFFF;
}
.catalogue-modal .catalogue-modal-box .modal-oridami h3{
	color: #3E3E3E;
	font-size: 5vw;
	text-align: left;
	line-height: 4.2vw;
	margin-bottom: 1vw;
}
.catalogue-modal .catalogue-modal-box .modal-oridami p{
	color: #666666;
	text-align: left;
	font-size: 1.33vw;
	margin-bottom: 3.6vw;
}
.catalogue-modal .catalogue-modal-box .modal-oridami a{
	color: #990000;
	text-decoration: none;
}
.catalogue-modal .catalogue-modal-box .modal-oridami .row-outer{
	margin-left: -1.38vw;
	margin-right: -1.38vw;
}
.catalogue-modal .catalogue-modal-box .modal-oridami .catalogue{
	padding: 0 1.38vw;
}




/*/ TYPING CANVAS /*/
#typing-canvas{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	z-index: 999999999;
	pointer-events: none;
}
#typing-canvas canvas{
	width: 100%;
	height: 100%;
}





/*/ CURVA BEZIER FOOTER /*/
.bezier-curve-wrapper{
	left: 0;
	top: 2vw;		/*/ fix bug garden /*/
	width: 100%;
	overflow: hidden;
	position: absolute;
}
#bezier-curve {
	top: 0;
	left: 50%;
	width: 100%;
	overflow: hidden;
	position: relative;
	
	-webkit-transform: translate3d(-50%, 0, 0);
	-moz-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	-o-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}
#bezier-curve canvas{
	pointer-events: none;
}


/* Point handle */
.handle-move {
	opacity: 1;
	width: 2.5vw;
	height: 2.5vw;
	color: #FFFFFF;
	font-size: 1.25vw;
	line-height: 2.4vw;
	position: absolute;
	border-radius: 50%;
	text-align: center;
	margin-top: -0.8vw;
	margin-left: -0.8vw;
}
.handle-move[data-novel='lake']{
	background: #AAB8BC;
	border:1px solid #AAB8BC;
}
.handle-move[data-novel='garden']{
	background: #84A387;
	border:1px solid #84A387;
}
.handle-move[data-novel='eyes']{
	background: #BC8278;
	border:1px solid #BC8278;
}
.interactive-handle{
	top: 0%;
	height: 100%;
	position: absolute;

	-webkit-transform: translate3d(-50%, 0, 0);
	-moz-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	-o-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}
.interactive-handle .novel-link{
	top: 50%;
	left: 50%;
	opacity: 0;
	color: #616161;
	cursor: pointer;
	font-size: 1.75vw;
	position: absolute;
	text-align: center;
	
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	-webkit-transition: all 250ms 150ms linear;
	-moz-transition: all 250ms 150ms linear;
	-ms-transition: all 250ms 150ms linear;
	-o-transition: all 250ms 150ms linear;
	transition: all 250ms 150ms linear;
	
}
.interactive-handle .novel-circle{
	left: 50%;
	top: 16.5%;
	width: 3vw;
	height: 3vw;
	cursor: pointer;
	position: absolute;
	
	-webkit-transform: translate(-25%, 0%);
	-moz-transform: translate(-25%, 0%);
	-ms-transform: translate(-25%, 0%);
	-o-transform: translate(-25%, 0%);
	transform: translate(-25%, 0%);
}
.interactive-handle:hover .novel-link{
	opacity: 1;
}



div.config-box {
	position:relative;
	width:580px;
	border: 1px solid black;
	padding: 10px;
}






/*/ ROTATE DEVICE /*/
.rotate-device{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	background: #E6E6E6;
	z-index: 9999999999999999999999;
}
.rotate-device .ico-rotate{
	top: 50%;
	left: 50%;
	opacity: 0;
	font-size: 20vw;
	position: absolute;
	
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-moz-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	-o-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}
@keyframes rotate-device{
	0%{
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) rotate(45deg);
		-moz-transform: translate(-50%, -50%) rotate(45deg);
		-ms-transform: translate(-50%, -50%) rotate(45deg);
		-o-transform: translate(-50%, -50%) rotate(45deg);
		transform: translate(-50%, -50%) rotate(45deg);
	}
	20%{
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) rotate(45deg);
		-moz-transform: translate(-50%, -50%) rotate(45deg);
		-ms-transform: translate(-50%, -50%) rotate(45deg);
		-o-transform: translate(-50%, -50%) rotate(45deg);
		transform: translate(-50%, -50%) rotate(45deg);
	}
	50%{
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) rotate(-45deg);
		-moz-transform: translate(-50%, -50%) rotate(-45deg);
		-ms-transform: translate(-50%, -50%) rotate(-45deg);
		-o-transform: translate(-50%, -50%) rotate(-45deg);
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	70%{
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) rotate(-45deg);
		-moz-transform: translate(-50%, -50%) rotate(-45deg);
		-ms-transform: translate(-50%, -50%) rotate(-45deg);
		-o-transform: translate(-50%, -50%) rotate(-45deg);
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	100%{
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) rotate(45deg);
		-moz-transform: translate(-50%, -50%) rotate(45deg);
		-ms-transform: translate(-50%, -50%) rotate(45deg);
		-o-transform: translate(-50%, -50%) rotate(45deg);
		transform: translate(-50%, -50%) rotate(45deg);
	}
}

@-webkit-keyframes rotate-device{
	0%{
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) rotate(45deg);
		-moz-transform: translate(-50%, -50%) rotate(45deg);
		-ms-transform: translate(-50%, -50%) rotate(45deg);
		-o-transform: translate(-50%, -50%) rotate(45deg);
		transform: translate(-50%, -50%) rotate(45deg);
	}
	20%{
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) rotate(45deg);
		-moz-transform: translate(-50%, -50%) rotate(45deg);
		-ms-transform: translate(-50%, -50%) rotate(45deg);
		-o-transform: translate(-50%, -50%) rotate(45deg);
		transform: translate(-50%, -50%) rotate(45deg);
	}
	50%{
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) rotate(-45deg);
		-moz-transform: translate(-50%, -50%) rotate(-45deg);
		-ms-transform: translate(-50%, -50%) rotate(-45deg);
		-o-transform: translate(-50%, -50%) rotate(-45deg);
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	70%{
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) rotate(-45deg);
		-moz-transform: translate(-50%, -50%) rotate(-45deg);
		-ms-transform: translate(-50%, -50%) rotate(-45deg);
		-o-transform: translate(-50%, -50%) rotate(-45deg);
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	100%{
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) rotate(45deg);
		-moz-transform: translate(-50%, -50%) rotate(45deg);
		-ms-transform: translate(-50%, -50%) rotate(45deg);
		-o-transform: translate(-50%, -50%) rotate(45deg);
		transform: translate(-50%, -50%) rotate(45deg);
	}
}

@media (max-width: 1500px) and (orientation: portrait){
	
	.mobile .rotate-device{
		display: block;
	}
	
	.mobile .rotate-device .ico-rotate{
		-webkit-animation: rotate-device 2500ms infinite;
		animation: rotate-device 2500ms infinite;
	}
		
}

